<p>home works!</p>

<div class="container">
  <div class="card mt-3 text-center p-3">
    <h1>
      Welcome to BigAl's
    </h1>
    <h5>Value: {{ counter$ | async }}</h5>

    <input class="m-3" type="text" [(ngModel)]="newProduct" placeholder="new product" />

    <div>
      <button class="btn btn-primary m-1" (click)="addProduct()" style="width: 10rem;">Add</button>
    </div>

    <div *ngIf="selectedProduct" class="mt-5">
      <input type="text" [(ngModel)]="selectedProduct.name" >
      <button class="btn btn-sm btn-danger mx-3" style="width: 5rem;" (click)="update()">Update</button>
    </div>

    <div *ngFor="let product of (products$ | async)" class="m-3">
      {{product.name}}
      <button  *ngIf="product.name" class="btn btn-sm btn-primary mx-3" (click)="select(product)" style="width: 5rem;">Select</button>
      <button  *ngIf="product.name" class="btn btn-sm btn-danger mx-3" (click)="delete(product)" style="width: 5rem;">Delete</button>
    </div>


  </div>
</div>

<!-- <a class="px-4" style="font-size: medium;" routerLink="/items">ITEMS</a> -->
<a class="px-4" style="font-size: medium;" routerLink="/orders">ORDERS</a>
